body {
    font-family: sans-serif;
    color: #222;
    background: #f8f8f8;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}


/* Begin Error Page */
.error-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .booze{
    width: 400px;
    }
    /* End Error Page */